* {
    font-family: Calibri;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x:hidden;
    background-color: rgb(6, 70, 0);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    width: 100%;
    height: 10vh;
    color: white;
    background-color: rgb(6, 70, 0);

}

.grid-conteiner {
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(2, 1fr);

    background-color: rgb(6, 70, 0);
}

.animation {
    width: 100%;
    height: 50vh;
    padding: 10px;
    background-color: rgb(29, 174, 87);
}

/*----------- АНИМАЦИЯ 1 --------- */

.animation_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
}

.cub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    background-color: aquamarine;
    position: relative;
}

.border_cub {
    width: 100%;
    height: 100%;
    border: 3px dashed black;
}

.border_1 {
    animation: animation-1 1s ease infinite;
}

.cub_2 .dot_cub {
    transform: translate(-50%, -50%);
}

.cub_2 {
    display: flex;
    justify-content: start;
    align-items: start;
}

.border_2 {
    transform-origin: 0 0;
    animation: animation-1 1s ease infinite;
}

.dot_cub {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute; 
}

/*----------- АНИМАЦИЯ 2 --------- */

.animation_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 10px solid aquamarine;
    border-radius: 50%;
    border-block-end-color: rgb(6, 70, 0);  
    animation: animation-2 1.2s  infinite linear reverse;
    aspect-ratio: 1/1;
    inline-size: 10vw;
}


/*----------- АНИМАЦИЯ 3 --------- */
.animation_3 {

}

.animation_4 {

}


@keyframes animation-1 {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 25deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes animation-2 {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}



@media (max-width: 1000px) {
    .grid-conteiner {
        grid-template-columns: 1fr;
        margin: 0 max(20px, 13vw);
        /* grid-template-columns: 1fr max(500px, 50vw) 1fr; */
    }
}

@media (max-width: 660px) {
    .grid-conteiner {
        grid-template-columns: 1fr;
        margin: 0;
    }
}